.alert {
    font-size: 21pt;
    font-weight: bold;
    margin: 15px;
    padding: 5px;
}

.btn-wide {
    width: 100%;
}

.spoiler, .spoiler > * { transition: color 0.5s, opacity 0.5s }
.spoiler:not(:hover) { color: transparent }
.spoiler:not(:hover) > * { opacity: 0 }
/* fix weird transitions on Chrome: */
blockquote, blockquote > *:not(a) { color: black }
