<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure websites workshop</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style type="text/css">
        .select {
            display: block;
        }
    </style>

</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <h4>Secure website workshop</h4>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{url_for('main.login')}}">Login</a></li>
            </ul>
        </div>
    </nav>

    {% block body -%}{%- endblock %}

</body>

</html>