<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure websites workshop</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/python.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style type="text/css">
        .select {
            display: block;
        }
    </style>

</head>

<body>
    <nav>
        <div class="nav-wrapper" style="padding-left: 10px; padding-right: 10px;">
            <a href="/" class="brand-logo">
                <h4>Secure website workshop</h4>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if not user %}
                <li>Login</li>
                {% else %}
                <li>Logged in as {{user}}</li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages -%}
        <div class="row flashes">
            {% for cat, message in messages -%}
            {% if cat == "error" -%}
            <div class="alert z-depth-3 red lighten-4" role="alert">{{ message }}</div>
            {% elif cat == "warning" -%}
            <div class="alert z-depth-3 orange lighten-4" role="alert">{{ message }}</div>
            {%- else %}
            <div class="alert z-depth-3 green lighten-3" role="alert">{{ message }}</div>
            {%- endif %}

            {%- endfor %}
        </div>
        {%- endif %}
        {%- endwith %}

        {% block body -%}{%- endblock %}
    </div>

    <div style="height: 300px">

    </div>

    <script>
        hljs.highlightAll();
    </script>

</body>

</html>