{% extends 'base.html' %}

{% block body %}

<div class="row">
    <h3>SQL injection part 4</h3>

    <p>We're logged in as admin! And we didn't even input the username! But how? Here is what you entered:</p>

    <pre>
        <code class="language-sql">
    ' or 1--
        </code>
    </pre>


    <p>The single quote again closes the previous string</p>
    <p>'or 1' is our own condition. It basically means "or true", which is always true.</p>
    <p>-- again makes SQLite ignore the rest of the statement</p>


    <p>As a result your query will look like this:</p>


    <pre>
        <code class="language-sql">
    SELECT * FROM users WHERE name = '' or 1--';
        </code>
    </pre>

    <p>Which means we are selecting all users where one of the following is true:</p>
    <ul>
        <li>The name is equal to ''</li>
        <li>True</li>
    </ul>

    <p>Since True is always True, we get every row.</p>

    <p>
        Of course this will often not be this easy. People who (for good or bad reasons) try to access systems this way
        often take a lot longer and have much more complicated stuff up their sleeve.
    </p>

    <p>
        SQL injection has been around for a long time, so systems have added protections to minimize mistakes that
        developers make to expose their websites to SQL injection vulnerabilities.
    </p>

    <p>
        Here is an example: we will add a user instead of trying to log in as an existing one. To do this, we could try
        adding our own query:
    </p>

    <p>Enter something like this again, replacing test with something you will remember</p>

    <pre>
        <code class="language-sql">
    '; INSERT INTO users (name) values ('test');--
        </code>
    </pre>





    <form method="post">
        <label for="username">Username</label>
        {{ form.username }}
        {{ form.submit }}
    </form>
</div>

{% endblock %}